<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CubeCon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./css/three-cards.css">
    <link rel="stylesheet" href="./css/home-page.css">
    <link rel="stylesheet" href="./css/gallery.css">
    <link rel="stylesheet" href="./css/contact.css">
    <link rel="stylesheet" href="./css/about.css">
    <!--<link rel="stylesheet" href="./css/font.css"><!-->
    <link rel="stylesheet" href="./css/auto-scroller.css">
    <link rel="stylesheet" href="./css/footer.css">

    <script src="https://kit.fontawesome.com/e2ac9cc532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
    <img onclick="scroll_to_slide(0)" id="brand-logo" class="brand-logo" src="pics/cube_con_logo.png">
    <div class="slide" id="slide0"><span id="title1">
        <div class="center">
            <h1 class="autotype" style="text-align: center; z-index: 10000; position: absolute;"><b>Building the future</b>
                <br>
                <span
                style="color: red;"
                class="txt-rotate"
                data-period="1500"
                data-rotate='[ "in residential.", "in commercial.", "with you." ]'></span>
            </h1>
        </div>
        <div id="cover-for-main-video" class="cover-for-main-video">
            <video style="object-fit: cover;" loop autoplay="autoplay" muted poster="">
                <source src="./pics/construction_video.mp4" type="video/mp4" />
            </video>
        </div>
    </span></div>
    
    <div class="slide" id="slide1"><span id="title2">
        <div class="flex-container">
            <div class="flex-slide work">
                <div class="flex-title">About Us</div>
                <div class="flex-about"><p>Listing relevant snippets of work:</p>
                    <ul>
                        <li>First piece of work</li>
                        <li>Second piece of work</li>
                        <li>Third piece of work</li>
                    </ul>
                </div>
            </div>
            <div class="flex-slide contact">
                <div class="flex-title">Our Values</div>
                <div class="flex-about"><p>Listing relevant snippets of work:</p>
                    <ul>
                        <li>First piece of work</li>
                        <li>Second piece of work</li>
                        <li>Third piece of work</li>
                    </ul>
                </div>
            </div>
            <div class="flex-slide what-we-do">
                <div class="flex-title">What we do</div>
                <div class="flex-about"><p>Listing relevant snippets of work:</p>
                    <ul>
                        <li>First piece of work</li>
                        <li>Second piece of work</li>
                        <li>Third piece of work</li>
                    </ul>
                </div>
            </div>
        </div>
    </span></div>
    <div class="slide" id="slide2"><span id="title3">
        <div class="vertical-center">
            <div style="margin-left: 5vw; margin-right: 5vw;">
                <main class="page-content">
                <div class="card">
                    <div class="content">
                    <h2 style="color:white; text-transform: none; font-family: 'Nanum Gothic', sans-serif;" class="title">Residential</h2>
                    <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
                    <button class="btn">View Trips</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                    <h2 style="color:white; text-transform: none; font-family: 'Nanum Gothic', sans-serif;" class="title">Commercial</h2>
                    <p class="copy">Plan your next beach trip with these fabulous destinations</p>
                    <button class="btn">View Trips</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                    <h2 style="color:white; text-transform: none; font-family: 'Nanum Gothic', sans-serif;" class="title">Special Projects</h2>
                    <p class="copy">It's the desert you've always dreamed of</p>
                    <button class="btn">Book Now</button>
                    </div>
                </div>
                </main>
            </div>
        </div>
    </span></div>
    <div class="slide" id="slide3"><span id="title4">          
        <div class="container" ng-class="{'no-scroll': selected.length}" ng-app="app" ng-controller="mainCtrl">
            <div class="page">
                <div class="grid">
                    <div class="grid-item" ng-repeat="item in boxes">
                        <box class="box" item="item" on-select="selectBox" ng-class="{'selected': selected[0].item.name == item.name}">
                            <h1 id="text-inside-gallery" style="color: white;"> {{item.name}} </h1>
                        </box>
                    </div>
                </div>
            </div>
            <div class="fullscreen-background top-up" ng-show="selected.length" ng-style="{'background-image': 'url(' + selected[0].item.image + ')'}"></div>
            <div class="scroller" ng-show="selected.length">
                <a class="close-button" ng-click="clearSelection()">
                    <i class="material-icons">close</i>
                </a>
                <h1>{{selected[0].item.name}}</h1>
                <div big-box ng-repeat="item in selected" class="box on-top" position="item.position" selected="item.item">
                    <img ng-src="{{item.item.image}}" alt="" />
                    <div class="content-gallery">
                        <h2>{{selected[0].item.heading}}</h2>
                        <p>{{selected[0].item.text}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </span></div>
    <div class="slide" id="slide4"><span id="title5"></span></div>  

    <div class="slide" id="slide5">
    <footer class="footer-section">
        <div class="container">
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="./pics/cube_con_logo.png" class="image-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="copyright-text">
                            <p>Copyright &copy; 2020, All Right Reserved <a href="/">Cubecon</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <ul id="navdot">
        <li class="active" onclick="scroll_to_slide(0)"></li>
        <li onclick="scroll_to_slide(1)"></li>
        <li onclick="scroll_to_slide(2)"></li>
        <li onclick="scroll_to_slide(3)"></li>
        <li onclick="scroll_to_slide(4)"></li>
        <li onclick="scroll_to_slide(5)"></li>
    </ul>
    <!-- scripts -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/jquery.waitforimages.min.js"></script>
    <script src="./js/gallery.js"></script>
    <script src="./js/auto-typer.js"></script>
    <script src="./js/contact.js"></script>
    <script src="./js/auto-scroller.js"></script>
    <script src="./js/about.js"></script>

</body>
</html>
